* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #69745e;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    background-color: #83a363;
    color: #000000;
    text-align: center;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
    
}

.header nav {
    margin-top: 15px;
    font-family: 'Gill Sans', 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header  nav ul li {
    display: block;

}

.Profile{
    display: grid;
    margin-left: 3%;
    display: inline-block;
    
}

.Profile h1 {
    
    font-size: 48px;
    font-family: 'Times New Roman', Times, serif;
}

.Profile img{
    width: 15vw;
    height: auto;
    min-width: 200px;
    min-height: 200px;
    border: solid 10px #000000;
} 

.Profile p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    margin-top: 25px;
    
    width: 15vw;
    height: auto;
    min-width: 200px;
    min-height: 200px;
    
}

.Applications{
    display: block;
    margin-left: 10%;
    text-align: center;
}

#First-App a{
    display: inline-block;
    width: 40vw;
    text-align: left;
}

#First-App img{
    display: flex;
    display: block;
    width: 40vw;
    border: solid 6px #5186e7;
    box-shadow: 4px 4px #3f3f3f;
}

#First-App div{
    position: relative;
    bottom: 70px;
    left: 15px;
    background: #6397f7; 
    width: 130px;
    height: 50px;
    padding-left: 8px;
    padding-top: 10px;
}

#Second-App a{
    display: inline-block;
    width: 25vw;
    text-align: left;
}

#Second-App img{
    display: flex;
    display: block;
    width: 30vw;
    border: solid 6px #6d51e7;
    box-shadow: 4px 4px #3f3f3f;
}

#Second-App div{
    position: relative;
    bottom: 70px;
    left: 15px;
    background: #7d64e9; 
    width: 130px;
    height: 50px;
    padding-left: 8px;
    padding-top: 10px;
}

.Contact-info{
    margin-top: 10%;
    display: block;
    text-align: right;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    margin-right: 2%;
}

.Contact-info p{
    padding-top: 4px;
    font-family: 'Times New Roman', Times, serif;

}